:root {
    --font-size: 16px;
    --margin: 0.25em;
    --border-radius: 0.5em;
    --padding: 0.125em;
    --element-height: calc(var(--font-size) + var(--margin));
    --element-width: calc(100% - calc(var(--margin)));
    --border: 1px solid #fff;
    --main-bg: #333;
    --main-fg: #fff;
    --hover-bg: #aaaaff88;
    --hover-fg: #000;
    --header-bg: #aaaaff;
    --header-fg: #000;
}
* {
    font-size: var(--font-size);
    font-family: sans-serif;
    color: #fff;
}
log, body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: var(--margin);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--main-bg);
}
log::before, body::before {
    content: "Log viewer";
    padding: var(--padding);
    height: var(--element-height);
    width: var(--element-width);
    background-color: var(--header-bg);
    color: var(--header-fg);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border: var(--border);
}
log-entry {
    display: block;
    height: var(--element-height);
    width: var(--element-width);
    padding: var(--padding);
    border-bottom: var(--border);
    background-color: transparent;
    color: var(--main-fg);
    border-left: var(--border);
    border-right: var(--border);
}
log-entry:hover {
    background-color: var(--hover-bg);
    color: var(--hover-fg);
}
log-entry:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}