<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>netstandard2.1</TargetFramework>
  </PropertyGroup>

  <PropertyGroup>
    <PackageName>CatmeowLib.Reflection</PackageName>
    <Description>A reflection helper library that is used by my projects, including CatmeowLib</Description>
    {{ template "NugetCommon" . }}
  </PropertyGroup>
  {{ template "Readme" }}
</Project>
